:root{
    --primary-100:#8FBF9F;
    --primary-200:#68a67d;
    --primary-300:#24613b;
    --accent-100:#F18F01;
    --accent-200:#833500;
    --text-100:#353535;
    --text-200:#5f5f5f;
    --bg-100:#F5ECD7;
    --bg-200:#ebe2cd;
    --bg-300:#c2baa6;
}

  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


form {
    background-color: var(--bg-300);
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


p {
    margin-bottom: 10px;
}


input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: var(--primary-200);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}


input[type="submit"]:hover {
    background-color:var(--primary-300);
}

.center-container {
    background-color: var(--bg-100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.memory-game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
}

.memory-card{
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 0 10px; 
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;

}


.memory-col{
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.up-card,
.down-card {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flipped{
    transform: rotateY(180deg);
}

.up-card {
    transform: rotateY(180deg);
}

.timer {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #007BFF; /* Cor do cronômetro */
}




